@use "./Units" as u;

//
@layer us-cards {

    //
    .cards {
        position: relative;

        //
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px;

        //
        place-content: stretch;
        place-items: stretch;
        inline-size: 100%;
        block-size: max-content;

        //
        & > :where(*) {
            padding: u.cqf(2);

            inline-size: max-content;
            max-inline-size: 100%;
            flex-grow: 1;
            flex-basis: u.cpx(2);
            gap: u.cqf(1);

            display: flex;
            flex-direction: column;

            place-content: center;
            place-items: center;
            text-align: start;
            align-self: stretch;

            //
            block-size: auto;
            min-block-size: 100%;
            max-block-size: none;

            //
            /*block-size: stretch;
            block-size: -webkit-fill-available;
            block-size: -moz-available;*/
        }

        //
        .card {
            div {
                opacity: 0.8;
                font-weight: 400;
            }
        }
    }

}
