@layer us-cards {

    //
    .cards {
        position: relative;

        //
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px;

        //
        place-content: center;
        place-items: center;
        inline-size: 80%;
        block-size: max-content;

        //
        align-items: stretch;
        align-content: stretch;

        //
        & > :where(*) {
            padding: 1rem;

            inline-size: max-content;
            max-inline-size: 100%;
            flex-grow: 1;
            flex-basis: 20rem;
            gap: 1rem;

            display: flex;
            flex-direction: column;

            place-content: center;
            place-items: center;
            text-align: start;
            align-self: stretch;

            //
            min-block-size: max-content;
            block-size: 100%;
            max-block-size: none;

            //
            block-size: stretch;
            block-size: -webkit-fill-available;
            block-size: -moz-available;
        }

        //
        .card {
            div {
                opacity: 0.8;
                font-weight: 400;
            }
        }
    }

}
