@use "./Units" as u;

//
@layer us-footer {

    footer {
        inline-size: 100%;
        min-block-size: u.cqf(6);
        block-size: max-content;

        padding: u.cpx(0.25);
        padding-inline: u.cpx(0.5);

        box-shadow: 0px 0px u.cqf(1) rgba(0, 0, 0, 0.2);
    }

}
