@layer us-footer {

    footer {
        inline-size: 100%;
        min-block-size: 6rem;
        block-size: max-content;

        padding: 2rem;
        padding-inline: min(6rem, 10cqi);

        box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.2);
    }

}
