@use "./Units" as u;

//
@layer us-header {

    //
    header {
        display: flex;
        margin: 0px;
        min-block-size: 100dvb;
        justify-self: end;
        background-color: transparent;
    }

    //
    header, article {
        display: flex;
        text-align: center;
        place-items: center;
        place-content: center;
        flex-direction: column;

        padding-inline: u.cqf(2);
        padding-block: u.cqf(2);
        gap: u.cqf(0.5);
        font-size: u.cqf(1);
        //font-weight: 100;

        padding: u.cqf(2);
        flex-grow: 1;

        inline-size: 100cqi;
    }

}
