@use "./Units" as u;

//
@property --right-space {
    initial-value: 0px;
    inherits: true;
    syntax: "<length-percentage>";
};

//
@layer us-main {

    //
    main {
        --right-space: #{u.cqf(2)};

        position: relative;
        min-inline-size: max-content;
        inline-size: min(calc(100cqi - var(--right-space)), u.cpx(4));
        block-size: max-content;

        box-shadow: 0px 0px u.cqf(1) rgba(0, 0, 0, 0.1);

        display: flex;
        place-items: center;
        place-content: center;
        flex-direction: row;

        //
        text-align: start;
        justify-content: end;
        //justify-items: end;

        align-self: start;

        //
        padding-inline: u.cqf(1);
        padding-block: u.cqf(4);
        padding-inline-end: u.cqf(4);

        margin-inline-end: var(--right-space);

        border-start-end-radius: u.cqf(1);
        border-end-end-radius: u.cqf(1);

        h1, h2, h3, h4, h5, h6 {
            justify-content: start;
            .icon-wrap {
                inline-size: 0.6em;
                block-size: 0.6em;
            }
        }

        .info-block {
            gap: u.cqf(0.25);

            place-items: center;
            place-content: center;

            align-items: start;

            display: flex;
            flex-direction: column;

            min-inline-size: max-content;

            align-content: space-between;
            min-block-size: u.cpx(1);
        }

        button {
            justify-self: end;
        }
    }

}
