@layer us-main {

    //
    main {
        --right-space: 4rem;

        position: relative;
        inline-size: min(calc(100% - var(--right-space)), 40rem);
        block-size: max-content;

        display: flex;
        place-items: center;
        place-content: center;
        flex-direction: row;

        //
        text-align: start;
        justify-content: end;

        padding-inline: 2rem;
        padding-block: 2rem;
        padding-inline-end: 4rem;

        margin-inline-end: var(--right-space);

        border-start-end-radius: 1rem;
        border-end-end-radius: 1rem;

        h1 {
            font-size: 3rem;
        }

        .info-block {
            gap: 0.25rem;

            place-items: center;
            place-content: center;

            align-items: start;

            display: flex;
            flex-direction: column;

            min-inline-size: max-content;
            min-block-size: max-content;
        }
    }

}
