@use "./Units" as u;

//
@layer us-navbar {

    nav {
        display: flex;
        flex-direction: row;
        gap: u.cqf(2);

        min-block-size: max-content;
        place-content: center;
        place-items: center;

        padding-inline: u.cpx(0.5);
        padding-block: u.cqf(1.5);

        font-size: u.cqf(1.2);

        position: sticky;
        inset: 0px;
        inset-block-end: auto;
        z-index: 9999;

        flex-grow: 1;

        box-shadow: 0px 0px u.cqf(1) rgba(0, 0, 0, 0.1);

        //
        .logo {
            font-size: u.cqf(2);
            font-weight: bolder;
        }

        //
        a {
            text-decoration: none;
        }

        //
        ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            gap: u.cqf(2);
            place-content: center;
            place-items: center;

            min-block-size: max-content;
            font-size: u.cqf(1);

            li {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
            }
        }

    }

}
