@layer us-navbar {

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        min-block-size: max-content;
        place-content: center;
        place-items: center;

        padding-inline: 4rem;
        padding-block: 0.5rem;

        font-size: 1.2rem;

        position: sticky;
        inset: 0px;
        inset-block-end: auto;
        z-index: 9999;

        flex-grow: 1;

        box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);

        //
        .logo {
            font-size: 2rem;
            font-weight: bolder;
        }

        //
        a {
            text-decoration: none;
        }

        //
        ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            place-content: center;
            place-items: center;

            min-block-size: max-content;

            li {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
            }
        }

    }

}
