@layer us-products {

    //
    #products {
        display: flex;

        flex-flow: wrap;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 2rem;
        padding: min(4rem, 2cqi);

        place-content: center;
        place-items: center;

        //justify-content: space-evenly;

        min-block-size: max-content;

        h3, h2 {
            display: flex;
            place-self: center;
            text-align: center;
            inline-size: max-content;
            block-size: max-content;

            place-items: center;
            place-content: center;

            .icon-wrap {
                margin-inline: 1rem;
                inline-size: 0.6em;
                block-size: 0.6em;
            }
        }

        //
        & > :where(*) {
            flex-basis: 30rem;
            max-inline-size: 90%;
            flex-grow: 0;

            border-radius: 1rem;
            inline-size: max-content;
        }

        .word {
            font-size: 2rem;
            place-content: center;
            place-items: center;
            display: flex;
            flex-grow: 0;
            flex-shrink: 1;
            inline-size: max-content;
            max-inline-size: max-content;
            font-weight: bolder;

            opacity: 0.8;
        }
    }

}
