@layer us-products {

    //
    #products {
        display: flex;

        flex-flow: wrap;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 2rem;
        padding: min(4rem, 2cqi);

        place-content: center;
        place-items: center;

        justify-content: space-evenly;

        h2 {
            place-self: center;
            text-align: center;
        }

        //
        & > :where(*) {
            flex-basis: 30rem;
            max-inline-size: 90%;
            flex-grow: 0;

            border-radius: 1rem;
            inline-size: max-content;
        }
    }

}
