@layer us-products {

    //
    .products {
        display: flex;

        //
        flex-direction: row;
        flex-wrap: wrap;

        gap: 4rem;
        padding: min(4rem, 2cqi);

        place-content: center;
        place-items: center;

        //justify-content: space-around;

        min-block-size: max-content;
        inline-size: 100%;

        //
        @container (width < 12in) {
            flex-direction: column;
            gap: 1rem;
        }

        //
        h3, h2 {
            display: flex;
            place-self: center;
            text-align: center;
            inline-size: max-content;
            block-size: max-content;

            place-items: center;
            place-content: center;

            .icon-wrap {
                margin-inline: 1rem;
                inline-size: 0.6em;
                block-size: 0.6em;
            }
        }

        //
        & > :where(*) {
            max-inline-size: 80%;
            flex-grow: 0;

            border-radius: 1rem;
            inline-size: max-content;

            flex-basis: 30rem;
            min-inline-size: 30rem;

            place-self: center;
        }

        .word {
            aspect-ratio: 1 / 1;
            inline-size: 4rem;
            block-size: 4rem;
            flex-basis: 4rem;
            font-size: 2rem;
            place-content: center;
            place-items: center;
            display: flex;
            max-inline-size: max-content;
            min-inline-size: max-content;
            font-weight: bolder;

            opacity: 0.8;
        }
    }

}
